/* reseteo margenes y padding predefinidos */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Le doy Fondo personalizados a las páginas */
  body {
    background-color: #ffffff;
    background-image: $estilo_fondo;
    background-attachment: fixed;
    background-size: cover;
    font-family: $estilo_fuente;
  }
  
  /* BOTON DE WHATSAPP */

  .botonWhatsApp img {
    width: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
    /* Animacion al botón WHATSAPP */
    &:hover {
        transform: translateX(-3px);
        transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;
    }
  }
    
      